body {
  font-family: "Roboto";
  margin: 0px;
}

@keyframes appear-block {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}
h1 {
  display: flex;
  justify-content: space-around;
  font-family: "Shrikhand";
  font-size: 30px;
  padding-top: 30px;
  margin: 0px;
}
h1 i {
  font-size: 30px;
  font-weight: 0;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .title-logo {
  width: 40%;
  margin: 15px 0px 10px 0px;
}
header .title-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .return-button {
  position: relative;
  left: -25%;
}
header .return-button i {
  font-size: 15px;
}

.restaurant-picture {
  width: 100%;
  height: 320px;
}
.restaurant-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  bottom: 0px;
}

main {
  background-color: rgb(241, 241, 241);
}

.restaurant-block {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: rgb(241, 241, 241);
  position: relative;
  bottom: 50px;
  padding: 0px 20px 0px 20px;
}
.restaurant-block .starters {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.restaurant-block .starters h2 {
  width: 75px;
  font-size: 30px;
  font-weight: 300;
  align-self: flex-start;
  border-bottom: solid 5px #99E2D0;
  padding-bottom: 10px;
  margin: 10px 0px 10px 0px;
}
.restaurant-block .main-courses {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.restaurant-block .main-courses h2 {
  width: 75px;
  font-size: 30px;
  font-weight: 300;
  align-self: flex-start;
  border-bottom: solid 5px #99E2D0;
  padding-bottom: 10px;
  margin: 10px 0px 10px 0px;
}
.restaurant-block .desserts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.restaurant-block .desserts h2 {
  width: 75px;
  font-size: 30px;
  font-weight: 300;
  align-self: flex-start;
  border-bottom: solid 5px #99E2D0;
  padding-bottom: 10px;
  margin: 10px 0px 10px 0px;
}

.block {
  width: 90%;
  height: 85px;
  border-radius: 15px;
  border: none;
  box-shadow: #d8d8d8 6px 6px 10px;
  display: flex;
  background-color: rgb(241, 241, 241);
  font-weight: 600;
  background-color: white;
  height: fit-content;
  margin-top: 15px;
  justify-content: space-between;
  animation: appear-block 800ms 200ms both;
}
.block:active:hover > .check {
  transform: scaleX(1);
  width: 20%;
}
.block .text-block {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}
.block .text-block .block-title {
  flex-direction: column;
}
.block .text-block .block-title h3 {
  width: 500px;
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  font-size: 20px;
  font-weight: 800;
  padding: 0px 0px 10px 0px;
}
.block .text-block .block-title p {
  width: 500px;
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  font-weight: 400;
}
.block .text-block .price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.block .text-block .price span {
  display: flex;
  margin: 2px;
}
.block .check {
  transform-origin: 100% 0%;
  transform: scaleX(0);
  transition: transform 500ms;
  width: 0%;
  height: 85px;
  display: flex;
  position: relative;
  right: 0;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #99E2D0;
}
.block .check i {
  color: white;
  font-size: 25px;
}

.block2 {
  animation-delay: 400ms;
}

.block3 {
  animation-delay: 600ms;
}

.block4 {
  animation-delay: 800ms;
}

.block5 {
  animation-delay: 1000ms;
}

.block6 {
  animation-delay: 1200ms;
}

.block7 {
  animation-delay: 1400ms;
}

.block8 {
  animation-delay: 1600ms;
}

.block9 {
  animation-delay: 1800ms;
}

.order-button {
  display: flex;
  justify-content: center;
}
.order-button button {
  width: 250px;
  height: 60px;
  font-size: 15px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 30px;
  margin: 20px 0px 30px 0px;
}
.order-button button a {
  padding: 21px;
  color: white;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #727272;
}
footer ul {
  padding: 0px;
  margin: 20px;
  list-style: none;
}
footer ul i {
  color: white;
  font-size: 18px;
  width: 20px;
  padding-right: 10px;
}
footer ul li {
  margin: 8px 0px 8px 0px;
  font-size: 18px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}

.footer-logo {
  width: 30%;
  margin: 30px 0px 0px 20px;
}
.footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: invert(1);
}

/*# sourceMappingURL=style-menu.css.map */
