@import "./utils/variables";
@import "./components/loading-spinner.scss";
@import "./utils/animations.scss";
@import "./layout/layout.scss";
@import "./base/base.scss";


@media all and (min-width: 1024px) {

    body {

        h2 {
            font-size: 30px;
        }

        header {
            @include laptop-layout;

            .title-logo {
                width: 30%;
            }
        }

        nav {
            @include laptop-layout;
        }

        section {
            flex-direction: row;

            .fonctionnement {
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    width: 100%;
                    margin: 25px 0px 25px 25px;
                    justify-content: center;
                }

                div {
                    padding-bottom: 20px;
                    width: 80%;

                    p {
                        font-size: 20px;
                    }

                    button {
                        font-size: 20px;

                        i {
                            position: relative;
                            left: 25px;
                        }

                        span {
                            position: relative;
                            left: 70px;
                        }

                    }
                }
            }


            .reservation-block {
                border-radius: 25px;
                margin-left: 10px;

                .reservation-title {

                    margin-top: 15px;

                    h2 {
                        width: 80%;
                        font-size: 34px;
                        margin-top: 15px;
                    }
                }

                .reservation-text {

                    p {
                        width: 70%;
                        font-size: 24px;
                        margin: 15px 0px 15px 0px;
                    }
                }

                button {
                    width: 250px;
                    margin-bottom: 30px;
                    font-size: 18px;

                    a {
                        padding: 10px;
                    }
                }
            }
        }

        main {

            @include laptop-layout;

            h2 {
                margin: 20px 0px 0px 0px;
                justify-content: center;
            }
        }

        #restaurants {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .restaurants {
                width: 48%;

                &__images {
                    height: 300px;
                }

                &__block {

                    h3 {
                        color: black;
                        font-size: 26px;
                        margin: 20px 0px 5px 20px;
                    }

                    p {
                        color: black;
                        font-size: 24px;
                        margin: 10px 0px 20px 20px;
                    }
                }

                &__hearts {
                    i {
                        margin: 35px 10px 35px 0px;

                        .fa-heart {
                            position: relative;
                            top: -70px;

                        }
                    }
                }
            }
        }

        footer {
            @include laptop-layout;
            align-items: center;

            ul {
                li {
                    margin: 15px 0px;
                    text-align: center;
                    font-size: 22px;
                }
            }
        }
    }
}