@import "./utils/variables";
@import "./components/loading-spinner.scss";

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: hidden-body 1500ms 3s both;
}

.title-logo {
    width: 45%;
    margin: 15px 0px 10px 0px;

    img {
        @include images;
    }
}

nav {
    height: 50px;
    @extend header;
    flex-direction: row;
    justify-content: space-around;
    background: darken($color: $back-color, $amount: 10%);

    input {
        width: 150px;
        font-size: 16px;
        background: darken($color: $back-color, $amount: 10%);
        border: none;
        text-align: center;

        &::placeholder {
            color: black;
            opacity: 1;
        }
    }
}

section {
    @extend header;
}

.reservation-block {
    width: 100%;
    align-items: center;
    @extend header;
    background: $back-color;
    padding: 20px 0px 20px 0px;

    h2 {
        text-align: center;
        font-size: 30px;
        margin: 0px;
    }

    p {
        text-align: center;
        margin: 0px;
        font-size: 20px;
    }

    button {
        @include btn-purple;

    }
}

.reservation-title {
    @extend header;
    margin: 30px 40px 10px 40px;

}

.reservation-text {
    @extend header;
    margin: 10px 20px 10px 20px;
}

.fonctionnement {
    @extend header;
    width: 100%;

    h2 {
        align-self: flex-start;
    }

    div {
        width: 90%;
        display: flex;
        align-items: center;
        padding-bottom: 15px;

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 25px;
            font-size: medium;
            color: white;
            background-color: #9356DC;
            border-radius: 25px;
            position: relative;
            right: -13px;

        }

        button {
            @include block;
            font-size: medium;
            align-items: center;

            i {
                margin: 0px 0px 0px 30px;
            }

            span {
                margin: 0px 0px 0px 30px;
            }

            &:hover {

                ::after {
                    opacity: 0.6;
                }

                i {
                    color: darken($color: #9356DC, $amount: 20%);
                    margin: 0px 0px 0px 30px
                }
            }

            &::after {
                opacity: 0;
                background-color: #9356DC;
            }
        }
    }


}

main {
    @extend header;
    background-color: $back-color;
    padding-bottom: 50px;

}

#restaurants {
    width: 100%;
}

.restaurants {
    @include restaurants-cards;

    a {
        text-decoration: none;

        img {
            @include images;
        }

    }
}

footer {
    @extend header;
    align-items: flex-start;
    background: darken($color: $back-color, $amount: 50%);

    ul {
        padding: 0px;
        margin: 20px;
        list-style: none;

        i {
            color: white;
            font-size: 18px;
            width: 20px;
            padding-right: 10px;
        }

        li {
            margin: 8px 0px 8px 0px;
            font-size: 18px;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

.footer-logo {
    width: 30%;
    margin: 30px 0px 0px 20px;

    img {
        @include images;
        filter: invert(1);
    }
}