@import "./utils/variables";

h1 {
    display: flex;
    justify-content: space-around;
    font-family: 'Shrikhand';
    font-size: 30px;
    padding-top: 30px;
    margin: 0px;

    .fa-solid {
        display: flex;
        align-items: center;
        font-size: 30px;
        font-weight: 100;
    }
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .title-logo {
        width: 40%;
        margin: 15px 0px 10px 0px;

        img {
            @include images;
        }

    }

    .return-button {
        position: relative;
        left: -25%;

        i {
            font-size: 15px;

        }
    }

}

.restaurant-picture {
    width: 100%;
    height: 320px;

    img {
        @include images;
        position: relative;
        bottom: 0px;
    }

}

main {
    background-color: $back-color;
}

.restaurant-block {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: $back-color;
    position: relative;
    bottom: 50px;
    padding: 0px 20px 0px 20px;

    .starters {
        @include block-dishes;

        h2 {
            animation: appear-block 800ms 200ms both;
        }
    }

    .main-courses {
        @include block-dishes;

        h2 {
            animation: appear-block 800ms 1000ms both;
        }
    }

    .desserts {
        @include block-dishes;
        
        h2 {
            animation: appear-block 800ms 1800ms both;
        }
    }
}

.block {
    @include block;
    background-color: white;
    height: fit-content;
    margin-top: 15px;
    animation: appear-block 800ms 200ms both;

    .check {
        transition: transform 500ms linear;
        width: 20%;
        i {
            transition: transform 500ms linear;
        }
    }

    &:active {

        &>.check {
            transform: scaleX(1);

            & > i {
                transform: rotate(360deg);
            }
        }

        & > .block-title {
            animation: animation-ellipsis 500ms linear both;
        }

        & > .price {
            animation: animation-price 500ms linear both paused;      
        }

    }

    .block-title {
        width: calc(80%);
        display: flex;
        flex-direction: column;

        h3 {
            @include text-block;
            font-size: 20px;
            font-weight: 700;
            margin: 15px 0px 5px 15px
        }

        p {
            @include text-block;
            font-size: 17px;
            font-weight: 300;
            margin: 5px 0px 15px 15px
        }
    }

    .price {
        width: calc(15%);
        display: flex;
        align-items: flex-end;
        padding-bottom: 15px;
        justify-content: flex-end;

        span {
            display: flex;
        }
    }


    .check {
        transform: scaleX(0);
        transform-origin: 100% 0%;
        height: 85px;
        display: flex;
        position: absolute;
        right: 0;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #99E2D0;

        i {
            color: white;
            font-size: 30px;
        }
    }

}

@for $i from 2 through 10 {
    .block#{$i} {
        animation-delay: (200ms+200ms*$i) ;
    }
}

.order-button {
    display: flex;
    justify-content: center;

    button {
        @include btn-purple;
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: darken($color: $back-color, $amount: 50%);

    ul {
        padding: 0px;
        margin: 20px;
        list-style: none;

        i {
            color: white;
            font-size: 18px;
            width: 20px;
            padding-right: 10px;
        }

        li {
            margin: 8px 0px 8px 0px;
            font-size: 18px;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

.footer-logo {
    width: 30%;
    margin: 30px 0px 0px 20px;

    img {
        @include images;
        filter: invert(1);
    }
}