@import "./utils/variables";
@import "./utils/animations.scss";
@import "./layout/layout.scss";

h1 {
    display: flex;
    justify-content: space-around;
    font-family: 'Shrikhand';
    font-size: 30px;
    padding-top: 30px;
    margin: 0px;

    .fa-solid {
        display: flex;
        align-items: center;
        font-size: 34px;
        font-weight: 100;
    }
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .title-logo {
        width: 40%;
        margin: 15px 0px 10px 0px;

        img {
            @include images;
        }

    }

    .return-button {
        position: relative;
        left: -25%;

        i {
            font-size: 15px;

        }
    }

}

.restaurant-picture {
    width: 100%;
    height: 320px;

    img {
        @include images;
        position: relative;
        bottom: 0px;
    }

}

main {
    background-color: $back-color;
}

.restaurant-block {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: $back-color;
    position: relative;
    bottom: 50px;
    padding: 0px 20px 0px 20px;

    h1 {
        i {
            &:hover {
                .anim-heart {
                    animation: heart-animation 1500ms linear;
                    animation-fill-mode: both;
                }
            }

            .anim-heart {
                position: relative;
                left: -34px;
                opacity: 0;
                transform-origin: 50% 100%;
                height: 35px;
                background: -moz-linear-gradient(#FF79DA, #9356DC);
                background: -webkit-linear-gradient(#FF79DA, #9356DC);
                background: linear-gradient(#FF79DA, #9356DC);
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 900;
            }
        }
    }

    .starters {
        @include block-dishes;

        h2 {
            animation: appear-block 800ms 200ms both;
        }
    }

    .main-courses {
        @include block-dishes;

        h2 {
            animation: appear-block 800ms 1000ms both;
        }
    }

    .desserts {
        @include block-dishes;

        h2 {
            animation: appear-block 800ms 1800ms both;
        }
    }
}


.block {
    @include block;
    background-color: white;
    height: fit-content;
    margin-top: 15px;
    animation: appear-block 800ms 200ms both;
    
    .block-title {
        width: calc(80%);
        display: flex;
        flex-direction: column;
        transition: width 800ms ;
        

        h3 {
            @include text-block;
            font-size: 20px;
            font-weight: 700;
            margin: 15px 0px 5px 15px
        }

        p {
            @include text-block;
            font-size: 17px;
            font-weight: 300;
            margin: 5px 0px 15px 15px
        }
    }

    .price {
        transition: transform 800ms;
        transform: translateX(0%);
        width: calc(15%);
        display: flex;
        align-items: flex-end;
        padding-bottom: 15px;
        justify-content: flex-end;
        

        span {
            display: flex;
        }
    }

    .check {
        transition: transform 500ms linear;
        width: 20%;
        transform: scaleX(0);
        transform-origin: 100% 0%;
        height: 85px;
        display: flex;
        position: absolute;
        right: 0;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #99E2D0;

        i {
            color: white;
            font-size: 30px;
            transition: transform 500ms linear;
        }
    }

    &:active {

        &>.check {
            transform: scaleX(1);

            &>i {
                transform: rotate(360deg);
            }
        }

        &>.block-title {
            width: calc(60%);

        }

        &>.price {
            transform: translateX(-20%);
        }
    }
}

@for $i from 2 through 10 {
    .block#{$i} {
        animation-delay: (200ms+200ms*$i);
    }
}

.order-button {
    display: flex;
    justify-content: center;

    button {
        @include btn-purple;
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: darken($color: $back-color, $amount: 50%);

    ul {
        padding: 0px;
        margin: 20px;
        list-style: none;

        i {
            color: white;
            font-size: 18px;
            width: 20px;
            padding-right: 10px;
        }

        li {
            margin: 8px 0px 8px 0px;
            font-size: 18px;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

.footer-logo {
    width: 30%;
    margin: 30px 0px 0px 20px;

    img {
        @include images;
        filter: invert(1);
    }
}

@media all and (min-width: 1024px) {
    body {
        header {
            padding: 0px;

            .title-logo {
                width: 35%
            }

            .return-button {
                position: relative;
                left: -30%;

                a {
                    text-decoration: none;
                }

                i {
                    font-size: 28px;
                }

            }

        }

        main {
            padding: 0px;

            .restaurant-picture {
                height: 500px;
            }

            .restaurant-block {
                @include laptop-menu-layout;

                h1 {
                    width: 100%;
                    justify-content: center;
                    font-size: 34px;

                    .fa-solid {
                        margin: 0px 30px;

                        .anim-heart {
                            left: -64px;
                        }
                    }

                }

                .starters {
                    width: 33%;
                    align-items: flex-start;

                    .block {
                        width: 90%;
                    }
                }

                .main-courses {
                    width: 33%;
                    align-items: flex-start;

                    .block {
                        width: 90%;
                    }
                }

                .desserts {
                    width: 33%;
                    align-items: flex-start;

                    .block {
                        width: 90%;
                    }
                }
            }

            .order-button {
                padding: 0px 0px 30px 0px;
            }
        }

        footer {
            @include laptop-layout;
            align-items: center;

            ul {
                li {
                    margin: 15px 0px;
                    text-align: center;
                    font-size: 22px;
                }
            }
        }


    }
}