body {
    font-family: 'Roboto';
}

nav {
    input {
        font-size: 16px;
    }
}
.reservation-block {
    h2 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }
}

.fonctionnement {
    div {
        p{
            font-size: 15px;
        }

        button {
            font-size: 15px;
        }
    }
}

footer {
    ul {
        i {
            font-size: 18px;
        }

        li {
            font-size: 18px;
        }
    }
}